<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p>Nombre(s)</p>
      <ion-input class="text" placeholder="Nombre"></ion-input>
      <p>Apellidos</p>
      <ion-input class="text" placeholder="Apellidos"></ion-input>
      <p>Carrera</p>
      <ion-input class="text" placeholder="Carrera"></ion-input>
      <p>Número de Control</p>
      <ion-input class="number" placeholder="Número de Control"></ion-input>

      <ion-button>Guardar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
