<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>
          <h3>Nombre: </h3>
          <p>Carrera: </p>
          <p>Número de Control</p>
        </ion-label>
      </ion-item>
    
      <br>
    
      <ion-button>Editar Información</ion-button>
    
      <ion-button>Cambiar Foto</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>