<ion-header>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card>
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-input type = "text" placeholder='Usuario'></ion-input>
        </ion-item>
      </ion-card>
  
      <ion-card>
        <ion-item>
          <ion-icon slot="start" name="mail"></ion-icon>
          <ion-input type="email" placeholder="Correo"></ion-input>
        </ion-item>
      </ion-card>
      
      <ion-card>
        <ion-item>
          <ion-icon slot="start" name="calendar"></ion-icon>
          <ion-input type="date"></ion-input>
        </ion-item>
      </ion-card>
  
      <ion-card>
        <ion-item>
          <ion-icon slot ="start" name="accessibility"></ion-icon>
          <ion-input type = "text" placeholder = "Sexo"></ion-input>
        </ion-item>
      </ion-card>
  
      <ion-card>
        <ion-item>
          <ion-icon slot="start" name="key"></ion-icon>
          <ion-input type="password" placeholder="Contraseña"></ion-input>
        </ion-item>
      </ion-card>
  
      <ion-button>Crear Cuenta</ion-button>
      <br>
      <a href="">Iniciar Sesión</a>
    </ion-card-content>
  </ion-card>
</ion-content>
